[defaults]
inventory = inventory/aws_ec2.yml
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
roles_path = roles

[inventory]
enable_plugins = amazon.aws.aws_ec2

[aws_ssm_connection]
bucket_name = zero-credential-pipeline-ssm-transfer-334687118059
region = us-east-1
